<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script >
        $(function () {
            var socket = io({transports: ['websocket'], upgrade: false});
            var $messageForm = $('#messageForm');
            var $message = $('#m');
            var $messageSection = $('#messageSection');
            var $userFormSection = $('#userFormSection');
            var $userForm = $('#userForm');
            var $username = $('#username');
            var $usersSection = $('#messageSection');
            var $conversationsSection = $('#conversationsSection');
            var $radios;
            var $selectedConv ;
            var username = "";
        
        
            $messageForm.submit(function(e){
                e.preventDefault(); // prevents page reloading
                var usersArr = $selectedConv.val().split(" ");
                var message = {
                        timeStamp: getCurrDate(),
                        sender: username,
                        message: $('#m').val()
                    };
                    
                socket.emit('chat message', {message: message, to : usersArr}, function(data){
                    $('#messages').append($('<li>').text(getCurrDate() + ' <' + data.from + '>: ' + data.message));
                });
                $('#m').val('');
                return false;
            });
        
            $userForm.submit(function(e){
                e.preventDefault(); // prevents page reloading
                username = $username.val();
                socket.emit('new user', $username.val(), function(data){
                    if(data){
                        $userFormSection.hide();
                        $messageSection.show();
                        $conversationsSection.show();
                        data.forEach(function(person){
                            var usersInConversation = "";
                            person.usernamesInConv.forEach(function(username, idx, array){
                                
                                if (idx === array.length - 1){
                                    usersInConversation += username;
                                }
                                else{
                                    usersInConversation += username + ' ';
                                }
                            });
                            $('#conversations').append($('<li>').text((usersInConversation))).append($('<input type="radio" name="userRadio">').val(usersInConversation));
                        });
                        $radios = $('input[name="userRadio"]');
                        $("input[name=userRadio]").prop("checked",true);
                        $selectedConv =  $radios.filter(':checked');
                        $radios.change(function() {
                            $selectedConv = $radios.filter(':checked');
                            var usersArr = $selectedConv.val().split(" ");
                            socket.emit('selected user', {usersInChatSelected: usersArr}, updateMessages);
                            
                        });
                        var usersArr = $selectedConv.val().split(" ");
                        socket.emit('selected user', {usersInChatSelected: usersArr}, updateMessages);
                    }
                });
                $username.val('');
                return false;
            });
        
            socket.on('new message', function(data){
                var selectedUsersArr = $selectedConv.val().split(" ");
                var index = selectedUsersArr.indexOf(username);
                if (index > -1) {
                    selectedUsersArr.splice(index, 1); 
                }
                if(data.from === selectedUsersArr[0] && selectedUsersArr.length == 1){
                    $('#messages').append($('<li>').text(getCurrDate() + ' <' + data.from + '>: ' + data.message));
                }
                else{
                    //TODO
                }
            });
        
            socket.on('disconnected user', function(data){
                if(data === username){
                    $userFormSection.show();
                    $messageSection.hide();
                }
            });

            socket.on('conversation messages', function(data){
                
            });//note sure if needed
            

            var updateMessages = function(docs){
                $("#messages").empty();
                docs[0].messages.forEach(function(msg){
                    $('#messages').append($('<li>').text(msg.timeStamp + ' <' + msg.sender + '>: ' + msg.message));
                });
            }

            var getCurrDate = function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; 
                var yyyy = today.getFullYear();

                if (dd < 10) {
                dd = '0' + dd;
                }

                if (mm < 10) {
                mm = '0' + mm;
                }

                today = mm + '/' + dd + '/' + yyyy;
                return today;
            }
        });
        </script>
        <style>
            #messageSection, #usersSection, #conversationsSection{
                display:none;
            }
        </style>
    </head>
    <body>
        <div id="userFormSection">
                <label id="Enter username"></ul>
                <form id="userForm" action="">
                    <input id="username" />
                    <br />
                    <button type="submit">Login</button>
                </form>
        </div>
        <div id="messageSection">
                <ul id="messages"></ul>
                <form id="messageForm" action="">
                  <input id="m" autocomplete="off" /><button type="submit">Send</button>
                </form>
        </div>
        <div id="usersSection">
            <ul id="users"></ul>
        </div>  
        <div id="conversationsSection">
            <ul id="conversations"></ul>
        </div> 
    </body>
</html>